* {
    list-style: none;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background-color: #7db8e8;

}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
    height: 80px;
    background-color: #21264a;
    font-size: 20px;
    color: white;
}

header nav ul li{
    display: inline;
}


#welcome {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tache {
    display: flex;
    justify-content: center;
    align-items: center;
}



.tache form textarea {
    display: flex;
    flex-direction: column;
}


 .tache ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.tache li {
    flex-basis: calc(50% - 10px); /* Pour afficher 2 éléments par ligne */
    margin: 5px; /* Espacement entre les éléments */
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 60%;

}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
}


/*table*/
#h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 25px;
}


table {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    border-collapse: collapse;

}

table td {
    border: 1px solid #4404aa;

}



table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4404aa;
    color: white;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;

   
}


footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;
    width: 100%;
    background-color: #21264a;
    height: 50px;
    text-align: center;
}

footer ul li {
    margin: 0 10px;
}
