* {
    list-style: none;
    margin: 0;
    padding: 0;

}

body {
   /* background-color: #21264a;*/

}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    height: 80px;
    background-color: #21264a;
    font-size: 20px;
    color: white;
}

header nav ul li{
    display: inline;
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tache {
    display: flex;
    justify-content: center;
    align-items: center;
}



.tache form textarea {
    display: flex;
    flex-direction: column;
}


 .tache ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.tache li {
    flex-basis: calc(50% - 10px); /* Pour afficher 2 éléments par ligne */
    margin: 5px; /* Espacement entre les éléments */
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 60%;

}

.container-add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}